@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: pink;
   
}

nav {
   background-color:#f896d8;
    padding: 10px;
}

nav > a {
    color: black ;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
   
}

nav > a:hover {
  text-decoration:underline;
}

header > img.pequena {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

main {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}



main > article > p {
    margin: 10px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}


div#container {
    overflow-x: auto;
}


table {
    border-collapse: collapse;
    
}

caption {
    font-size: 1.3em;
    
}

caption,th,td {
    border: 1px solid black;
    padding: 10px;
}